.page-heading
  .heading-accent
  %h1= @group.name

  .actions
  
%ul.accordion-tabs-minimal
  - if @standard_scores_reporter.tasks.any?
    %li.tab-header-and-content
      %a.tab-link.is-active{:href => "#"} Podstawa
      .tab-content
        = render 'table', scores_reporter: @standard_scores_reporter

  - if @extended_scores_reporter.tasks.any?
    %li.tab-header-and-content
      %a.tab-link{:href => "#"} Rozszerzenie
      .tab-content
        = render 'table', scores_reporter: @extended_scores_reporter


  - if @bilingual_scores_reporter.tasks.any?
    %li.tab-header-and-content
      %a.tab-link{:href => "#"} Dwujęzyczne
      .tab-content
        = render 'table', scores_reporter: @bilingual_scores_reporter
