%h1 Zadania

%table
  %tr
    %th Numer zadania
    %th Umiejętność
    %th Akcje
  - @tasks.each do |task|
    %tr
      %td= task.number
      %td= task.skill.name
      %td= link_to 'Edytuj zadanie', edit_exam_task_path(@exam, task)

= link_to 'Dodaj zadanie', new_exam_task_path(@exam)
