#flash
  position: absolute
  right: 20px
  bottom: 20px

  .notice, .alert
    padding: 16px 32px

  .notice
    background: $emerald
    border: 1px solid $green-sea

  .alert
    background: $alizarin
    border: 1px solid $pomegranate
