$page-heading-height: 30px
$page-heading-background: #ddd

.page-heading
  margin: 20px 0
  background: $page-heading-background
  font-size: 22px
  height: $page-heading-height
  line-height: $page-heading-height

  h1
    float: left
    font-size: 22px
    height: $page-heading-height
    line-height: $page-heading-height

  .actions
    float: right
