// Basics
$white: #FFF
$black: #000
$red: #C00

// Greens
$turquoise: #1ABC9C
$green-sea: #16A085
$emerald: #2ECC71
$nephritis: #27AE60

// Blues
$peter-river: #3498DB
$belize-hole: #2980B9
$wet-asphalt: #34495E
$midnight-blue: #2C3E50
$blue: #0000ff

// Purples
$amethyst: #9B59B6
$wisteria: #8E44AD

// Yellows
$sun-flower: #F1C40F

// Oranges
$orange: #F39C12
$carrot: #E67E22
$pumpkin: #D35400

// Reds
$alizarin: #E74C3C
$pomegranate: #C0392B

// Grays
$clouds: #ECF0F1
$silver: #BDC3C7
$concrete: #95A5A6
$asbestos: #7F8C8D
$dark-gray: shade($white, 80%)
$light-gray: shade($white, 20%)

// More colors
$gray-05: shade($white, 5%)
$gray-1: shade($white, 10%)
$gray-2: shade($white, 20%)
$gray-3: shade($white, 30%)
$gray-4: shade($white, 40%)
$gray-5: shade($white, 50%)
$gray-6: shade($white, 60%)
$gray-7: shade($white, 70%)
$gray-8: shade($white, 80%)
$gray-9: shade($white, 90%)

// Palletes
// Creature
$c-gray: #EEEFF3
$c-blue-1: #D9E3EC
$c-blue-2: #B5C9E1
$c-steel: #3F4543
$c-brown-1: #9B775D
$c-sand: #E9CDA6


// Resort
$r-gray: #EDEDED
$r-pink-1: #EFE2EB
$r-pink-2: #EECFD4
$r-pink-3: #C2AAC4
$r-blue-1: #3C68A5
$r-blue-2: #7195CF

// Coffee
$coffee-1: #626D71
$coffee-2: #CDCDC0
$coffee-3: #DDBC95
$coffee-4: #B38867
