.page-heading
  .heading-accent
  %h1= @user.username

  .actions
    = link_to t('back'), admin_users_path, class: 'btn btn-info'
    = link_to t('delete'), admin_user_path(@user), class: 'btn btn-danger', method: :delete, data: { confirm: t('confirm') }

= render 'form'
